/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
	background: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}




/* wrapper */

#wrapper {
	text-align: center;
	padding: 50px 0;
	padding-top:150px;
	margin-top:1%;
	background: url(../img/Elegant_Background-8.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
color: #fafafa;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	font-weight: 300;
	font-size: 60px;
}

.message{
font-size:20px;
margin-top: 10px;
}

/*links*/
a{
	color: #fafafa;
	text-decoration: none;
	font-size: 20px;
}

a:hover{
	color: #f45;
	text-decoration: none
}


/* footer */
.copy {
	margin-top: 50px;
	color: #fff;
	text-align: center;
}	